html, body {
  /* height: 100%; */
}

body {
        padding-top: 100;
  /* display: flex; */

  /* This centers our sketch horizontally. */
  /* justify-content: center; */

  /* This centers our sketch vertically. */
  /* align-items: center;  */
}

.web_view {
  height: 800px;
  /* display: flex; */
  /* justify-content: center; */
}

/* #spine {
    margin: 100px auto 0 auto;
    height: 800px;
    display: flex;
    justify-content: center;

} */


iframe {
  width: 100%;
  height: 100%;
border: none;
}